
body{
	color : white;
	background-color: #2c3e50;

}

input::placeholder {color:white;}
input::-webkit-input-placeholder {color:white;}
input:-ms-input-placeholder {color:white;}

input {
	background-color:transparent;
	border-color: transparent;
	border-bottom-color: white;
	font-size : 50px;
	text-align: center;
	color : white;	
}

.form,
.greetings {
	display :none;
	font-size : 40px;
}

.showing {
	display :block;
	font-size : 40px;
}

ul{
   list-style:none;
 }

@keyframe fadeIn{
	from {
		opacity : 0;
	}
	to {
		opacity : 1;
	}
}

.js-toDoForm{
	font-size : 40px;
}

.bgImage {
	position : absolute;
	top :0;
	left : 0;
	width : 100%;
	height : 100%;
	z-index : -1;
	animation : fadeIn 0.5s linear;
}

.js-clock{
	font-size : 50px;
}
.centerbox {
	margin-top:15%;
	text-align:center;
}

.js-weather{
	text-align:right;
}